body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background-color: navy;
    padding-left: 20px;
} .site-page{
    color: white;
    
} .site-page h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
}
.site-link{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
} .site-link a{
    text-decoration: none;
    color: white;
    padding: 30px;
   
}
.site-link:hover{
    background-color: darkred;
    width: 200px;
    height: 100px;
    transform: rotate(360deg);
    transition: width 4s,height 4s,transform 4s;
}
.image img{
    width: 556px;
    height: 438px;
    padding-left: 20px;
}
/* End of first banner */



/* players description */
.all-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 1.5em;
    padding: 30px;
    
}
.box{
    width: 330px;
    height: 474px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.player img{
    width: 300px;
    height: 300px;
    padding: 15px;

} .player-bio{
    padding-left: 20px;
    
}.player-bio p{
    font-size: 12px;

}
/* added part */

.coaches{
   
    padding-left: 20px;
}
.display{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.img-coach img{
    width: 200px;
    height: 200px;
}
.blog-info a{
 text-decoration: none;
}
.blog-info{
    margin-left: 15px;
}
.blog{
    display: flex;
    height: 250px;
    width: 400px;
    padding: 10px;
}

/* .......footer-side ******/
.last-part{
    width:483px;
    height: 213px;
    margin-left: 25%;
        
}
.logo{
    position: relative;
}
.logo img{
width: 483px;
height: 110px;
}
.icons{
    
    width: 483px;
    position: relative;
     margin-left: 120px;
}
.icons a{
 color:gray;
 padding-right: 10px;
}
.last-part p{
    text-align: center;

}
/* responsive side */

@media mobile screen and (max-width:600px){
    .container{
        width:100%;
        height:100%;
        display:inline;
    }
    
    
}
@media  and(min-width:992px) {
    
}