body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background-color: navy;
} .site-page{
    color: white;
    
} .site-page h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
}
.site-link{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
} .site-link a{
    text-decoration: none;
    color: white;
    padding: 30px 20px;   
}
.site-link:hover{
    background-color: darkred;
    width: 200px;
    height: 100px;
    transform: rotate(360deg);
    transition: width 4s,height 4s,transform 4s;
}
.image img{
    width: 556px;
    height: 438px;
}
/* End of first banner */



/* players description */
.all-players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 1.5em;
    padding: 30px;
    
}
.box{
    width: 330px;
    height: 474px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.player img{
    width: 300px;
    height: 300px;
    padding: 15px;

} .player-bio{
    padding-left: 20px;
    
}.player-bio p{
    font-size: 12px;

}


/* .......footer-side ******/
.last-part{
    width:483px;
    height: 213px;    
}
.logo{
    position: relative;
    padding: 0 50%;
}
.logo img{
width: 483px;
height: 110px;
}
.icons{
    width: 483px;
    height:110px ;
    position: relative;
    margin-left: 95%;
}